<div class="content">
    <h3>How to play Math Pyramid?</h3>
    <div>
        <div>
            <b>Rule 1</b>: the sum of the numbers in two adjacent blocks must equal
            the number in the block above the two adjacent blocks
        </div>
        <div>
            <b>Rule 2</b>: the pyramid is solved when all blocks are filled and
            <i>Rule 1</i> holds for all adjacent blocks
        </div>
    </div>
    <figure>
        <img src="/assets/help_start.jpg" alt="Initial pyramid" title="Initial pyramid"/>
        <figcaption class="subtitle">Initial Pyramid</figcaption>
    </figure>
    <div class="arrow-downward">
        <mat-icon aria-hidden="false" aria-label="Arrow Downward" fontIcon="arrow_downward"/>
    </div>
    <div>
        <img src="/assets/help_finished.jpg" alt="Solved pyramid">
        <div class="subtitle"> Solved Pyramid</div>
    </div>
    <h4>Links</h4>
    <a href="https://www.youtube.com/watch?v=oLcpiQYtwYg" rel="noreferrer" target="_blank">
        Tutorial (english)
    </a>
    <a href="https://www.youtube.com/watch?v=PMCsU79CI30" rel="noreferrer" target="_blank">
        Tutorial (german)
    </a>
</div>