/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mdc-notched-outline > * {
  border-color: grey !important;
}

.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 4px !important;
}

.pyramid-field {
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  margin-top: 1em;
  margin-bottom: 1em;
  width: 5em;
  .mdc-text-field input.mat-mdc-input-element {
    text-align: center;
    color: grey;
    font-weight: 500;
    font-size: 1em;
  }
}

@media only screen and (max-width: 549px) {
  .pyramid-field {
    margin-right: 1.25em;
    margin-left: 1.25em;
  }
}
@media only screen and (min-width: 550px) {
  .pyramid-field {
    margin-right: 3em;
    margin-left: 3em;
  }
}

.pyramid-field.disabled {
  background-color: lightgray;
}
.pyramid-field.correct {
  background-color: lightgreen;
}
.pyramid-field.incorrect {
  background-color: lightpink;
}
