:host {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 20em;
}

#restart {
  margin-top: 2em;
}
