<mat-toolbar>
    <button class="title" [routerLink]="['/play']" mat-button aria-label="Play Math Pyramid">
        {{ title | uppercase }}
    </button>
    <button class="play-button" [routerLink]="['/play']" mat-icon-button aria-label="Play">
        <span color="white" class="material-icons">play_circle_outline</span>
        <span class="play-text">Play</span>
    </button>
    <span class="spacer"></span>
    <button (click)="openDialog()" mat-icon-button aria-label="Username">
        <mat-icon>account_circle_outline</mat-icon>
    </button>
    <button mat-button class="user-name" (click)="openDialog()">{{ name }}</button>
    <button class="help-button" [routerLink]="['/help']" mat-icon-button aria-label="Help">
        <mat-icon>help_outline</mat-icon>
    </button>
</mat-toolbar>