/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.winner game-solved-dialog mat-card {
  background-color: green;
  color: white;
}

.looser game-solved-dialog mat-card {
  background-color: rgb(211, 47, 47);
  color: white;
}
 
game-solved-dialog mat-card mat-icon {
  vertical-align: middle;
}
 