.spacer {
  flex: 1 1 auto;
}

mat-toolbar.mat-toolbar {
  background-color: rgb(25, 118, 210);
  color: rgb(255, 255, 255);
  .mat-mdc-button {
    color: white;
  }
  .title {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    letter-spacing: 0em;
    font-weight: bold;
  }
  .play-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1em;
    .play-text {
      margin-left: 0.2em;
    }
  }
  .user-name {
    font-size: 0.7em;
    margin-left: -0.5em;
    margin-right: 1em;
  }
}
